.navbar {
  height: inherit!important;
  opacity: .4;
}

.centered {
  text-align: center;
  position: absolute;
  top: 30vh;
  left: 20vw;

  h1 {
    font-size: 3rem;

  }
}

span.search-label {
  padding: 3px 10px;
  border-right: 2px solid
}
